@font-face {
  font-family: ourFont;
  src: url(Korean_Calligraphy.ttf);
}

h1 {
  text-align: center;
  font-family: ourFont;
}

#decision1, #decision-2a, #decision-2b,#segway-2b, #result1, #result2, #result3, #result4, #result5, #result6, #decision-3a, #decision-3b, #decision-3c {
  display: none;
}

#player1 {
  width: 200px;
}

.form-group {
  align: center;
}

.dogPet {
  display: none;
}
