h1 {
  text-align: center;
}

#decision1, #decision-2a, #decision-2b, #result1, #result2, #result3, #result4, #result5, #decision-3a, #decision-3b  {
  display: none;
}

#player1 {
  width: 200px;
}

.form-group {
  align: center;
}
